# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
*.log

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
